@import "tailwindcss";
@plugin "daisyui";

/* CLUBSPHERE CSS */
.primary-menu a {
  @apply px-4 py-2 text-gray-700 hover:bg-gray-200 rounded;
}

.primary-menu a.active {
  @apply bg-blue-500 text-white font-semibold rounded-full;
}
